<div class="dish-index-container">
  <h1>All Dishes</h1>
  <%= link_to "<button style='width:100%' class='waves-effect waves-light btn'>Create new dish!</button>".html_safe, new_dish_path %>
  <br>
  <div class="section">
    <div class="dishes-grid">
      <div class="row">
        <% @dishes.each_slice(@dishes.length/2) do |dish| %>
          <div class="col s2 l4 m4 places-holder">
            <% dish.each do |d| %>
              <div class="card hoverable blue-grey lighten-4">
                <h4><%= d.name %></h4>
                <%= link_to "<button style='width:100%' class='waves-effect waves-light btn'>More Info</button>".html_safe, dish_path(d.id) %>
                <p><%= d.description %></p>
                <p>Course: <%= d.course %></p>
                <p>Cost  :$<%= d.cost %></p>
                <%= form_tag("/user_dishes", method: "post") do %>
                  <%= hidden_field(:dish_id, "", :value=>d.id )%>
                  <%= hidden_field(:user_id, "", :value=>current_user.id )%>
                  <%= submit_tag( "Add Dish")%>
                <% end %>
                <%= link_to "<button style='width:100%' class='waves-effect waves-light btn'>Edit</button>".html_safe, edit_dish_path(d.id) %>
                <%= link_to "<button style='width:100%' class='waves-effect waves-light btn'>Delete</button>".html_safe, dish_path(d.id), method: :delete %>
              </div>
            <% end %>
          </div>
        <% end %>
</div>
