<div class = "dish-container">
  <h1><%= @dish.name %></h1>
  <p><%= @dish.description %></p>
  <p>Course: <%= @dish.course %></p>
  <p>Cost: $<%= @dish.cost %></p>
  <h4>Ingredients:</h4>
  <% @dish.ingredients.each do |ing| %>
    <%= link_to "#{ing[:name]}", ingredient_path(ing[:id]) %>
    <%= form_tag("/ingredients_dishes/#{ing.id}", method: "delete") do %>
      <%= hidden_field(:ingredient_id, "", :value=>ing.id )%>
      <%= hidden_field(:dish_id, "", :value=>@dish.id )%>
      <%= submit_tag( "Delete #{ing[:name]} form #{@dish.name}")%>
    <%end%>
      <%= form_tag("/user_ingredients", method: "post") do %>
        <%= hidden_field(:ingredient_id, "", :value=>ing.id )%>
        <%= hidden_field(:user_id, "", :value=>current_user.id )%>
        <%= submit_tag( "Add Allergy")%>
      <% end %>
      <br>
      <br>
  <% end %>
  <%= link_to "Edit this dish?", edit_dish_path(@dish.id) %>
  <%= link_to "Delete this dish?", dish_path(@dish.id), method: :delete %>
</div>
