<h1><%= @user[:email] %>:</h1>
<%= link_to "Add some dishes!", dishes_path %>
<% if @user.dishes.length > 0 %>
  <% @user.dishes.each do |dish| %>
      <p><%= link_to "#{dish[:name]}", dish_path(dish.id) %></p>
      <%= link_to "Delete this dish from your order?", user_dish_path(dish.id), method: :delete %><br>
  <% end %>
<% else %>
  <p>You have no orders, get servin!</p>
<% end %>
<% if @user.ingredients.length > 0 %>
  <strong>Alergies:</strong>
  <% @user.ingredients.each do |ingredient| %>
    <p><%= ingredient[:name] %></p>
    <%= link_to "Remove this Allergy", user_ingredient_path(ingredient.id), method: :delete %>
  <% end %>
<% else %>
  <p>No allergies in your section? That can't be correct...</p>
<% end %>
