<h2>List of all the ingredients used in our recipes</h2>
<h4>Select any ingredient to indicate an allergy</h4>
<%= link_to "<button style='width:100%' class='waves-effect waves-light btn'>Create a new allergy!</button>".html_safe, new_ingredient_path %>
<br><br>
<div class="section">
  <div class="dishes-grid">
    <div class="row">
      <% @ingredients.each_slice(@ingredients.length/2) do |ingredients| %>
        <div class="col s4 l4 m4 places-holder">
          <% ingredients.each do |ing| %>
            <div class="card hoverable blue-grey lighten-4">
              <%= link_to "<button style='width:100%' class='waves-effect waves-light btn'>#{ing[:name]}</button>".html_safe, ingredient_path(ing.id) %><br>
              <%= link_to "<button style='width:100%' class='waves-effect waves-light btn'>Add to dish</button>".html_safe,
                              :controller=> "ingredients_dishes",
                              :action=> "new",
                              :ingredient_id=>ing[:id] %>
              <%= form_tag("/user_ingredients", method: "post") do %>
                <%= hidden_field(:ingredient_id, "", :value=>ing.id )%>
                <%= hidden_field(:user_id, "", :value=>current_user.id )%>
                <%= submit_tag( "Add Allergy")%>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
